<mat-toolbar class="table-title">
  <button mat-icon-button class="icon-with-text" color="primary" (click)="backClicked()" aria-label="Return to Plot">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div class="content">
    <h1>{{ plot.name }}</h1>
    <p class="additional-info">production: {{ plot.productivity }}kg/ha</p>
  </div>
</mat-toolbar>

<mat-toolbar class="table-toolbar">
  <span class="toolbar-text">Plot Productions</span>
  <button class="toolbar-button" mat-flat-button (click)="clickCreate()" color="accent" >
    Add Production
  </button>
</mat-toolbar>
<div *ngIf="productions$ | async as production; else loading">
  <table mat-table [dataSource]="production">

    <ng-container matColumnDef="name" class="row-element">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td class="table-row" mat-cell *matCellDef="let production">
        <mat-icon class="icon-with-text" color="primary" aria-label="Plot icon">grass</mat-icon>
        <div class="content">
          <p class="text-with-icon">{{ production.crop }}</p>
          <p class="additional-info">quantity: {{ production.quantity }}</p>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell class="table-row, actions-column" *matCellDef="let production">
        <div>
          <button mat-icon-button color="primary" (click)="clickUpdate(production)" aria-label="Update production">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="clickDelete(production.id)" aria-label="Delete production">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <!-- SHOW HEADER
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<ng-template #loading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
