.header-img{
  margin-left: 1%;
  cursor: pointer;
}

.header-text{
  position: absolute;
  right: 0;
  margin-right: 4%;
}

.lists-block{
  text-align: center;
  height: 580px;
  margin-top: 3%;
}

.lists-block div{
  height: 100%;
}

.farm-list{
  display: inline-block;
  width: 35%;
  border: 1px solid rgba(0, 77, 78, 0.15);
  overflow: hidden;
}

.other-list{
  display: inline-block;
  width: 40%;
  border: 1px solid rgba(0, 77, 78, 0.15);
  border-left: 0;
  vertical-align: top;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .farm-list{
    width: 95%;
    margin: auto;
    border: 1px solid rgba(0, 77, 78, 0.15);
    border-radius: 5px;
    overflow: hidden;
  }

  .other-list{
    width: 95%;
    margin: auto;
    margin-top: 2%;
    border: 1px solid rgba(0, 77, 78, 0.15);
    border-radius: 5px;
    overflow: hidden;
  }
}
