.header-img{
  margin-left: 1%;
}

.header-text{
  position: absolute;
  right: 0;
  margin-right: 4%;
}

.farm-list{
  width: 35%;
  margin-top: 3%;
  margin-left: 5%;
  border: 1px solid #004d4e;
  border-radius: 5px;
  overflow: hidden;
}

.other-list{
  width: 60%;
}

@media (max-width: 1000px) {
  .farm-list{
    width: 95%;
    margin: auto;
    margin-top: 2%;
    border: 1px solid #004d4e;
    border-radius: 5px;
    overflow: hidden;
  }
}
