.table-title {
  height: 88px;
  position: relative;
  background-color: white;
}
.icon-with-text{
  vertical-align: middle;
  margin-right: 1rem;
}

.content{
  display: inline-block;
  text-align: start;
  vertical-align: middle;
  margin-top: 8px;
  line-height: 60%;
}

.additional-info{
  font-size: 0.9rem;
  opacity: 60%;
}

.table-toolbar {
  position: relative;
  background-color: white;
  border-bottom: 1px solid rgba(0, 77, 78, 0.15);
}

.toolbar-text {
  margin-left: 2%;
}

.toolbar-button {
  position: absolute;
  right: 0;
  margin-right: 5%;
}

.toolbar-button:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

table {
  width: 100%;
  text-align: start;
}

.table-row {
  height: 60px;
  border-width: 0;
}

.text-with-icon {
  font-size: 1.1rem;
}

.actions-column {
  justify-content: flex-end;
  padding: 0;
  margin-right: 5%;
}

tr.mat-row button:hover {
  background: rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  border-radius: 0;
}

.loading-spinner{
  height: 100%;
  background: rgba(0, 0, 0, 0.18);
  padding: 2rem;
  display: flex;
  justify-content: center;
}

tr.mat-row:hover {
  background: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
