<div *ngIf="data.id === ''; else editFarm">
  <h1>Add Farm</h1>
</div>
<ng-template #editFarm>
  <h1>Edit Farm</h1>
</ng-template>

<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name" required/>
  </mat-form-field>
</div>
<div mat-dialog-actions class="action-buttons">
  <button mat-raised-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="data" color="accent">
    Save
  </button>
</div>
