.table-toolbar {
  position: relative;
  background-color: white;
}

.table-title {
  height: 88px;
  position: relative;
  background-color: white;
  border-bottom: 1px solid rgba(0, 77, 78, 0.15);
}

.toolbar-text {
  margin-left: 2%;
}

.table-title-title{
  position: absolute;
  top: 12px;
}

.toolbar-detail-text {
  position: absolute;
  top: 36px;
  left: 2.5rem;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
}

.toolbar-button {
  position: absolute;
  right: 0;
  margin-right: 5%;
}

.toolbar-button:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

table {
  width: 100%;
  text-align: start;
}

.table-row {
  border-width: 0;
}

.icon-with-text{
  vertical-align: middle;
}

.text-with-icon {
  margin-left: 1rem;
}

.actions-column {
  justify-content: flex-end;
  padding: 0;
  margin-right: 5%;
}

tr.mat-row button:hover {
  background: rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  border-radius: 0;
}

tr.mat-row:hover {
  background: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.empty-table{
  background: rgba(0, 0, 0, 0.18);
  padding: 2rem;
  display: flex;
  justify-content: center;
}
