<mat-toolbar class="table-title">
  <div class="table-title-title">
    <mat-icon class="icon-with-text" color="primary" aria-label="Plot icon">home</mat-icon>
    <span class="toolbar-text">{{ farm.name }}</span>
  </div>
  <span class="toolbar-detail-text">production: {{ farm.productivity }}kg/ha</span>
</mat-toolbar>

<mat-toolbar class="table-toolbar">
  <span class="toolbar-text">Farm Plots</span>
  <button class="toolbar-button" mat-flat-button (click)="clickCreate()" color="accent" >
    Add Plot
  </button>
</mat-toolbar>
<div *ngIf="plots$ | async as plots; else loading">
  <table mat-table [dataSource]="plots">

    <ng-container matColumnDef="name" class="row-element">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td class="table-row" mat-cell *matCellDef="let plot">
        <div>
          <mat-icon class="icon-with-text" color="primary" aria-label="Plot icon">yard</mat-icon>
          <span class="text-with-icon">{{ plot.name }}</span>
          <span class="text-with-icon">{{ plot.area }}</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell class="table-row, actions-column" *matCellDef="let plot">
        <div>
          <button mat-icon-button color="primary" (click)="clickUpdate(plot)" aria-label="Update plot">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="clickDelete(plot.id)" aria-label="Delete plot">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" [routerLink]="['/production-list', plot]" aria-label="See plot">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <!-- SHOW HEADER
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<ng-template #loading>
  <div class="loading_spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
